<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Alert</title>

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bulmaStyles.css">
        <link rel="stylesheet" type="text/css" href="/css/modal.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <!-- SCRIPTS -->

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>

        <!-- Ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    </head>

    <body>
    
      <div class="container is-fluid" id="emt-container">

        <div class="tile is-ancestor">

          <div class="tile is-parent">
            <article class="tile is-child notification ">
              <div class="content">
                <p class="title">Patient Information</p>
                <!-- <p class="subtitle">With even more content</p> -->
                <div class="content">
                  <table class="table is-fullwidth">
                    <tr>
                        <th>ID</th>
                        <td>
                            <%= patient.id %>
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            <%= patient.firstName + " " + patient.lastName %>
                        </td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>
                            <%= patient.age %>
                        </td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>
                            <%= patient.sex %>
                        </td>
                    </tr>
                    <tr>
                        <th>Chronic Illnesses</th>
                        <td>
                            <%= patient.chronicIllnesses %>
                        </td>
                    </tr>
                    <tr>
                        <th>Medication</th>
                        <td>
                            <%= patient.medications %>
                        </td>
                    </tr>
                </table>
                </div>
              </div>
            </article>
          </div>

          <div class="tile is-vertical is-8">
            <div class="tile is-parent">
              <article class="tile is-child notification ">
                <p class="title">Wide tile</p>
                <p class="subtitle">Aligned with the right tile</p>
                <div class="content">
                  <table class="table is-hoverable is-striped is-narrow">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>HR</th>
                            <th>RR</th>
                            <th>BP</th>
                            <th>Temp</th>
                            <th>SpO2</th>
                        </tr>
                    </thead>
  
                     
                            <tr>
                                <td>
                                    <%=vitals.timestamp %>
                                </td>
                                <td>
                                    <%=vitals.hr %>
                                </td>
                                <td>
                                    <%=vitals.rr %>
                                </td>
                                <td>
                                    <%=vitals.bp %>
                                </td>
                                <td>
                                    <%=vitals.temp %>
                                </td>
                                <td>
                                    <%=vitals.spO2 %>
                                </td>
                            </tr>
                            <tr>
                                <th>Additional notes</th>
                                <td colspan="5">
                                    ghtesh
                                </td>
                            </tr>

                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <form action="addVital" method="post">
                                                <div class="field ">
                                                    <label class="label">Add new vitals
                                                        <div class="field-body">
                                                            <div class="field">
                                                                <input name="heartRate" class="input"
                                                                    type="number" placeholder="Heart Rate"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="respRate" class="input"
                                                                    type="number"
                                                                    placeholder="Respiratory Rate"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="bloodPressure" class="input"
                                                                    type="text" placeholder="Blood Pressure"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="temp" class="input"
                                                                    type="number" placeholder="Temperature"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="oxygen" class="input"
                                                                    type="number" placeholder="SpO2"
                                                                    required="required" />
                                                            </div>
                                                    </label>

                                                </div>

                                                <div class="field-body">
                                                    <div class="field">
                                                        <label class="label" for="notes">Add additional
                                                            notes:
                                                            <textarea name="notes" id="notes" class="textarea"
                                                                type="text" rows="5" cols="33" />
                                                                    Pain:
                                                                    LOC:
                                                                    N/V:
                                                            </textarea>
                                                        </label>
                                                        <div class="field">
                                                            <button class="button is-link">
                                                                <span>Add</span>
                                                                <span class="icon is-small">
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

            </div>
            </form>
            </td>
            </tr>
            </tfoot>
            </table>
                </div>
              </article>
            </div>
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification">
                  <p class="title">Vertical...</p>
                  <p class="subtitle">Top tile</p>
                  <div class="content">
                    Displays the information submitted from patient end
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                        <td>Pregnant: no
                        </td>
                        <td>Smoker: no
                        </td>
                    </table>
                    <table>
                        <tr>
                            <th>Current Condition</th>
                        </tr>
                        <td>
                            rtjteh
                        </td>
                    </table>
                    <table>
                        <tr>
                            <th>Medical History</th>
                        </tr>
                        <td>
                            rfgh
                        </td>
                    </table>
                    <table>
                        <tr>
                            <th>Allergies</th>
                        </tr>
                        <td>
                            dth
                        </td>
                    </table>

                </div>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child notification">
                  <p class="title">Middle tile</p>
                  <p class="subtitle">With an image</p>
                  <form action="addEmtInput" method="post" class="">
                    Form for emts to enter new information <br />
                    <textarea class="textarea" placeholder="Enter details here" name="emtInput"
                        id="emtInput">
                    </textarea>
                    <br />
                    <button class="button is-link is-medium">
                        <span>Save</span>
                    </button>
                </form>
                </article>
              </div>
            </div>
            
          </div>
          
        </div>

      </div>
      

    </body>

</html>