<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Alert</title>

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bulmaStyles.css">
        <link rel="stylesheet" type="text/css" href="/css/modal.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <!-- SCRIPTS -->

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>

        <!-- Ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    </head>

    <body>
    
        <header>
            <nav class="navbar is-link has-centered-menu" role="navigation" aria-label="Main Navigation">
              <div class="navbar-brand">
                <a class="navbar-item"  href="/" >
                  <img src="/img/logo_white.png" alt="Health Alert Logo">
                </a>
            
                <label for="toggler" class="navbar-burger burger" >
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </label>
              </div>
            
              <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                      <a class="navbar-item" href="/emt/dashboard"> <strong>EMT Dashboard</strong>  </a>
                      <a class="navbar-item" href="/hosp/dashboard"> <strong>Hospital Dashboard</strong></a>
                </div>
              </div>
            </nav>
          </header>
      <div class="container is-fluid" id="emt-container">

        <div class="tile is-ancestor">

          <div class="tile is-parent">
            <article class="tile is-child notification box">
              <div class="content">
                <p class="title">Patient Information</p>
                <!-- <p class="subtitle">With even more content</p> -->
                <div class="content">
                  <table class="table is-fullwidth">
                    <tr>
                        <th>ID</th>
                        <td>
                            <%= patient.id %>
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            <%= patient.firstName + " " + patient.lastName %>
                        </td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>
                            <%= patient.age %>
                        </td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>
                            <%= patient.sex %>
                        </td>
                    </tr>
                    <tr>
                        <th>Chronic Illnesses</th>
                        <td>
                            <%= patient.chronicIllnesses.join(', ') %>
                        </td>
                    </tr>
                    <tr>
                        <th>Medication</th>
                        <td>
                            <%= patient.medications.join(', ') %>
                        </td>
                    </tr>
                    <tr>
                        <th>Allergies</th>
                        <td>
                            <%= patient.allergies.join(', ') %>
                        </td>
                    </tr>
                </table>
                </div>
              </div>
            </article>
          </div>

          <div class="tile is-vertical is-8">
            <div class="tile is-parent">
              <article class="tile is-child notification box">
                <p class="title">Assessments</p>

                <div class="content">
                  <table class="table is-hoverable is-striped is-narrow is-fullwidth">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>HR (/min)</th>
                            <th>RR (/min)</th>
                            <th>BP (mgOh)</th>
                            <th>Temp (C)</th>
                            <th>SpO2 (%)</th>
                        </tr>
                    </thead>
  
                     <% let i=0; %> <% for(i=0; i < patient["vitals"].length; i++) { %>
                            <tr>
                                <td>
                                    <%= patient["vitals"][i]["time"].toLocaleString() %>
                                </td>
                                <td>
                                    <%= patient["vitals"][i]["hr"] %> 
                                </td>
                                <td>
                                    <%= patient["vitals"][i]["rr"] %>
                                </td>
                                <td>
                                    <%= patient["vitals"][i]["bp"]["systolic"] + "/" + patient["vitals"][i]["bp"]["diastolic"] %>
                                </td>
                                <td>
                                    <%= patient["vitals"][i]["temp"] %>
                                </td>
                                <td>
                                    <%= patient["vitals"][i]["spO2"] %> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <%= patient["vitals"][i]["LOC"] %>
                                </td>
                                <td colspan="2">
                                    <%= patient["vitals"][i]["pain"] %>
                                </td>
                                <td colspan="2">
                                    <%= patient["vitals"][i]["N/V"] %>
                                </td>
                            </tr>
 <% } %>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <!-- form start -->
                                            <form action="/emt/dashboard" method="post">
                                                <div class="field ">
                                                    <label class="label"><h3>Add new vitals</h3>
                                                        <div class="field-body">
                                                            <div class="field">
                                                                <input name="heartRate" class="input"
                                                                    type="number" placeholder="Heart Rate"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="respRate" class="input"
                                                                    type="number"
                                                                    placeholder="Respiratory Rate"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="systolicPressure" class="input"
                                                                    type="number" placeholder="Systolic BP"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="diastolicPressure" class="input"
                                                                    type="number" placeholder="Diastolic BP"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="temp" class="input"
                                                                    type="number" placeholder="Temperature"
                                                                    required="required" />
                                                            </div>
                                                            <div class="field">
                                                                <input name="oxygen" class="input"
                                                                    type="number" placeholder="SpO2"
                                                                    required="required" />
                                                            </div>
                                                    </label>

                                                </div>

                                                <div class="field-body">
                                                    <div class="field">


                                                    <div class="level">
                                                        <div class="level-item">
                                                            <label class="label" for="LOC">LOC: 
                                                                <textarea name="LOC" id="notes" class="textarea" type="text" rows="2"  /></textarea>
                                                        </div>
                                                        <div class="level-item">
                                                            <label class="label" for="Pain">Pain: 
                                                                <textarea name="pain" id="notes" class="textarea" type="text" rows="2"  /></textarea>
                                                        </div>
                                                        <div class="level-item">
                                                            <label class="label" for="N/V">Nausea/Vomiting: 
                                                                <textarea name="N/V" id="notes" class="textarea" type="text" rows="2"  /></textarea>
                                                        </div>
                                                    </div>

                                                    
                                                        <div class="field">
                                                        
                                                            <!-- <button class="button is-link addVitals">
                                                                <span>Add</span>
                                                                <span class="icon is-small">
                                                                    <i class="fas fa-plus"></i>
                                                                </span>
                                                            </button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            

                                                </div>
                                                
                                                </td>
                                                </tr>
                                                </tfoot>
                                                </table>
                                                    </div>
                                                </article>
                                                </div>
                                                <div class="tile">
                                                <div class="tile is-parent is-vertical">
                                                    <article class="tile is-child notification box">
                                                    <p class="title">Patient Reported</p>
                                                    <div class="content">
                                                        <table>
                                                            <tr>
                                                            <th>Pregnant:
                                                            </th>
                                                            <td> no</td>
                                                            <th>Smoker:
                                                            </th>
                                                            <td> no</td>
                                                            </tr>
                                                            
                                                        </table>
                                                        <table>
                                                            <tr>
                                                                <th>Reported Concerns</th>
                                                            </tr>
                                                            <td>
                                                                <%= patient.reportedSymptoms.join(', ') %>
                                                            </td>
                                                        </table>

                                                    </div>
                                                    </article>
                                                </div>
                                                <div class="tile is-parent">
                                                    <article class="tile is-child notification box">
                                                    <p class="title">Other notes</p>
                                                  
                                                        <textarea class="textarea" placeholder="Enter details here" name="emtInput"
                                                            id="emtInput">
                                                        </textarea>
                                                        <br />
                                                    </article>
                                                </div>
                                                </div>
                                                <button class="button is-link is-large is-success addVitals">
                                                    <span>Send to Hospital</span>
                                                </button>
                                            </form>  
                                            <!-- form end -->
                                            </div>
                                            
                                            </div>

                                        </div>
      

    </body>

</html>
