<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Alert</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bulmaStyles.css">
  <link rel="stylesheet" type="text/css" href="/css/modal.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  
  <!-- SCRIPTS -->

  <!-- jQuery CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/hospitalDashboard.js"></script>

  <!-- Ionicons -->
  <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header>
    <nav class="navbar is-link has-centered-menu" role="navigation" aria-label="Main Navigation">
      <div class="navbar-brand">
        <a class="navbar-item"  href="/" >
          <img src="/img/logo_white.png" alt="Health Alert Logo">
        </a>
    
        <label for="toggler" class="navbar-burger burger" >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
              <a class="navbar-item" href="/emt/dashboard"> <strong>EMT Dashboard</strong>  </a>
              <a class="navbar-item" href="/hosp/dashboard"> <strong>Hospital Dashboard</strong></a>
        </div>
      </div>
    </nav>
  </header>
    <section class="section">
      <!-- tile container -->
      <div class="columns is-multiline">
        <!-- takes in patients object -- id = patient number, triage = value of 'green' [primary], 'yellow' [warning], or 'red' [danger], symptoms = an array of symptoms -->
        
        <% for (i = 0; i < Object.keys(patients).length; i++) { %>
          <!-- set triage BG and text colour -->
          <% let triage; %>
          <% let text; %>

          <% let patientId = Object.keys(patients)[i] %>
          <% let patientObj = patients[patientId] %>

          <% if (patientObj.triage == 'green') { %>
            <% triage = 'primary'; %>
            <% text = 'white'; %>
          <% } else if (patientObj.triage == 'yellow') { %>
            <% triage = 'warning'; %>
            <% text = 'black'; %>
          <% } else if (patientObj.triage == 'red') { %>
            <% triage = 'danger'; %>
            <% text = 'white'; %>
          <% } %>
          <!-- input patient data into card previews -->
          <div class="column is-one-third">
            <article class="tile is-child box has-background-<%= triage %>"> 
              <p id="<%= i %>" class="title has-text-<%= text %>">Patient: <%= patientId %></p>
              <% for (j = 0; j < 3; j++) { %>
                <span class="content has-text-<%= text %>"><%= patientObj.symptoms[j] %></span>
                <% if (j != 2 ) {%>
                  <span class="content has-text-<%= text %>">//</span>
                <% } %>
              <% } %>
              <div>
                <button class="button is-dark mt-4 " onclick="window.location.href='/admin/patient-dashboard?patientId=<%= patientId %>'">See Chart</button>
              </div>
            </article>
          </div>
        <% }; %>
      </div>
    </section>
</body>
</html>