<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Alert - Patient Dashboard</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bulmaStyles.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <!-- SCRIPTS -->

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header>
    <nav class="navbar is-link has-centered-menu" role="navigation" aria-label="Main Navigation">
      <div class="navbar-brand">
        <a class="navbar-item"  href="/" >
          <img src="/img/logo_white.png" alt="Health Alert Logo">
        </a>
    
        <label for="toggler" class="navbar-burger burger" >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
              <a class="navbar-item" href="/emt/dashboard"> <strong>EMT Dashboard</strong>  </a>
              <a class="navbar-item" href="/hosp/dashboard"> <strong>Hospital Dashboard</strong></a>
        </div>
      </div>
    </nav>
  </header>
    <section class="section">
        <div class="container">
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <div class="tile is-child box">
                <div class="patient-details">
                  <p class="title is-4">Patient Name: <%= `${patient.firstName} ${patient.lastName}` %> 
                    
                    <% let triage = patient.triage ; %>
                    <% if(triage === 'Minor'){ %>
                      <span class="tag is-success">Minor</span>
                    <% } else if (triage === 'Delayed'){ %>  
                      <span class="tag is-warning">Delayed</span>
                      <% } else if (triage === 'Immediate'){ %>  
                        <span class="tag is-danger">Immediate</span>
                    <% } else { %>
                      <span class="tag is-dark">Expectant</span>
                    <% } %>

                  </p>

                  <p class="title is-5">Patient ID: <%= patient.id %> 
                  </p>

                  <div class="detailed-info">
                    <div class="emt pb-4">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id neque felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                      </p>
                    </div>
                    <div class="patient">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mauris erat, molestie nec consequat ut, maximus vitae mauris. Cras eget aliquam purus. Quisque vitae convallis nunc. Donec eu congue purus. Donec ultricies congue sapien vel cursus. Nam ornare fermentum magna. Mauris erat dolor, elementum venenatis commodo non, cursus vitae nisl.
                      </p>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>

            <div class="tile is-4 is-vertical is-parent vital-signs">
              <% const vitals = patient.vitals; %>
              <% const mostRecentVitals = vitals[vitals.length - 1]; %>
              <div class="card is-child box heart-rate">
                    <div class="icon-text">
                      <span class="icon has-text-danger">
                        <ion-icon name="pulse-outline"></ion-icon>
                      </span>
                      <span>Heart Rate</span>
                    </div>

                    <div class="range">
                      <% let hr = mostRecentVitals.hr ; %>
              
                    <% if(hr >= 35 && hr <= 85){ %>
                      <span class="tag is-success">Normal</span>
                    <% } else if (hr >= 85 && hr < 100){ %>  
                      <span class="tag is-warning">Warning</span>
                    <% } else { %>
                      <span class="tag is-danger">Danger</span>
                    <% } %>
                    </div>

                    <div class="level-item has-text-centered">
                      <p class="title"> <%= hr %>  /min</p>
                    </div>
              </div>

              <div class="card is-child box blood-pressure">
                  <div class="icon-text">
                    <span class="icon has-text-danger">
                      <i class="fas fa-heartbeat"></i>
                    </span>
                    <span>Blood Pressure</span>
                    
                  </div>
                  
                  <div class="range">
                    <% let sys = mostRecentVitals.bp.systolic; %>
                    <% let diasys = mostRecentVitals.bp.diastolic; %>
              
                    <% if(sys < 120 && diasys < 80){ %>
                      <span class="tag is-success">Normal</span>
                    <% } else if (sys >= 120 && sys < 130 && diasys < 80){ %>  
                      <span class="tag is-warning">Warning</span>
                    <% } else if ((sys >= 130 && sys < 139) || (diasys >= 80 && diasys < 89)){ %>  
                        <span class="tag is-warning">Warning</span>
                    <% } else if ((sys > 140) || (diasys > 90)){ %>  
                      <span class="tag is-danger">Danger</span>
                    <% } else { %>
                      <span class="tag is-warning">Warning</span>
                  <% } %>
                  </div>

                  <div class="level-item has-text-centered">
                    <p class="title"> <%= `${sys} / ${diasys}` %> mmHg</p>
                  </div>
              </div>

              

            <div class="card is-child box oxygen-saturation">
              <div class="icon-text">
                <span class="icon has-text">
                  <ion-icon src="/images/svg/oxygen.svg"></ion-icon>
                </span>
                <span>Oxygen Saturation</span>
                
              </div>
              
              <div class="range">
              <% let o2 = mostRecentVitals.spO2; %>
              
              <% if(o2 >= 91 && o2 <= 100){ %>
                <span class="tag is-success">Normal</span>
              <% } else if (o2 >= 85 && o2 < 90){ %>  
                <span class="tag is-warning">Warning</span>
              <% } else { %>
                <span class="tag is-danger">Danger</span>
             <% } %>
              </div>

              <div class="level-item has-text-centered">
                <p class="title"> <%= o2 %>  %</p>
              </div>
          </div>

          <div class="card is-child box respiratory-rate">
            <div class="icon-text">
              <span class="icon has-text-danger">
                <ion-icon src="/images/svg/lungs.svg"></ion-icon>
              </span>
              <span>Respiratory Rate</span>
              
            </div>
            
            <div class="range">
              <% let rr = mostRecentVitals.rr; %>
              
              <% if(rr >= 12 && rr <= 20){ %>
                <span class="tag is-success">Normal</span>
              <% } else if (rr >= 20 && rr < 30){ %>  
                <span class="tag is-warning">Warning</span>
              <% } else if (rr <= 8 || rr >= 30){ %>
                <span class="tag is-danger">Danger</span> 
              <% } else { %>
                <span class="tag is-warning">Warning</span>
             <% } %>
            </div>

            <div class="level-item has-text-centered">
              <p class="title"> <%= rr %> /min</p>
            </div>
        </div>

          <div class="card is-child box body-temperature">
            <div class="icon-text">
              <span class="icon has-text-info">
                <i class="fas fa-thermometer-half"></i>
              </span>
              <span>Body Temperature</span>
              
            </div>
            
            <div class="range">
              <% let temp = mostRecentVitals.temp; %>
              
              <% if(temp >= 36 && temp <= 38){ %>
                <span class="tag is-success">Normal</span>
              <% } else if (temp >= 38 && temp < 40){ %>  
                <span class="tag is-warning">Warning</span>
              <% } else if (temp >= 40){ %>
                <span class="tag is-danger">Danger</span> 
              <% } else { %>
                <span class="tag is-warning">Warning</span>
             <% } %>
            </div>

            <div class="level-item has-text-centered">
              <p class="title"> <%= temp %> C</p>
            </div>
        </div>




                



              
            </div>

              
            </div>
          </div>
        </div>
      </section>
</body>
</html>